/* @font-face {} (put fonts in src folder)*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

#nav {
  width: 100vw;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}

#search-div {
  padding-left: 5px;
}

#search {
  width: 120px;
}

fieldset {
  display: flex;
  flex-direction: row;
  padding-right: 5px;
}

.temp-div {
  margin: 3px;
}
input[type="radio"] {
  padding: 3px;
}

#main {
  height: 100vh;
}

#now {
  background-image: url("./assets/rain.jpg");
  background-size: cover;
  height: 100%;
}

#now.cloudy {
  background-image: url("./assets/cloudy.jpg");
}

#now.night {
  background-image: url("./assets/night.jpg");
}

#now.overcast {
  background-image: url("./assets/overcast.jpg");
}

#now.rain {
  background-image: url("./assets/rain.jpg");
}

#now.snow {
  background-image: url("./assets/snow.jpg");
}

#now.storm {
  background-image: url("./assets/storm.jpg");
}

#now.sunny {
  background-image: url("./assets/sunny.jpg");
}
